<form class="form-horizontal">
     <div class="control-group">
        <label class="control-label">{{ _('Enable Mosfet') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.LEDStripPhysicalControl.mosfet_enabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Mosfet Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.mosfet_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Default Brightness') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.default_brightness">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Enable Rotary Encoder') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.LEDStripPhysicalControl.enc_enabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Encoder A Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.enc_a_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Encoder B Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.enc_b_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Encoder Switch Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.enc_sw_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Enable Stop Button') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.LEDStripPhysicalControl.stop_enabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Stop Button Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.stop_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Enable Home Buttons') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.LEDStripPhysicalControl.home_enabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Home X Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.home_x_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Home Y Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.home_y_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Home Z Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.home_z_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Enable Move XY Buttons') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.LEDStripPhysicalControl.xy_enabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Default XY Move(in mm)') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.default_xy_move">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _(' X+ Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.x_plus_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _(' X- Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.x_minus_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _(' Y+ Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.y_plus_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _(' Y- Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.y_minus_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Enable Move Z Buttons') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.LEDStripPhysicalControl.z_enabled">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Default Z Move(in mm)') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.default_z_move">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _(' Z+ Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.z_plus_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _(' Z- Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.LEDStripPhysicalControl.z_minus_pin">
        </div>
    </div>
</form>
